@font-face {
    font-family: vazir;
    src: url('./Vazir.woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #3d51b5;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: vazir, "Helvetica Neue", Helvetica, sans-serif;
}
label{
    padding-right: .4rem;
    font-size: 1.2rem;
}
.container{
    width: 40rem;
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
}
.header{
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 2rem 4rem;
}

.header h2{
    margin: 0;
    color: #3f51b5;
}
.form{
   padding: 3rem 4rem;
}

.form button{
    width: 100%;
    background-color: #3d51b5;
    color: #fff;
    padding: 0.8rem 0;
    border-radius: .4rem;
    border: .1rem solid transparent;
    margin-top: 2rem;
    transition: all .3s;
    cursor: pointer;
    font-size: 1.8rem;
}

.form button:hover{
    background: transparent;
    border: .1rem solid #3d51b5;
    color: #333;
}

.form-control{
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #212121;
}
.form-control input{
    width: 100%;
    border: .2rem solid #f0f0f0;
    border-radius: .5rem;
    display: block;
    font-size: 1.4rem;
    padding: 1rem;
}
.form-control input:focus{
    outline: none;
    border-color: #9fa8da;
}
.form-control.success input{
    border-color: #66bb6a;
}
.form-control.error input{
    border-color: #ef5350;
}
.form-control small{
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
    color: #ef5350;
}
.form-control.error small{
    visibility: visible;
}